*.pid
*.xml
*.csr
*.crt
*.key
*.bak
*.log
*.db*
OZW_Log.txt
*.db-journal
deps
tts
google_calendars.yaml
secrets.yaml
known_devices.yaml
*.conf
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
usps_cookies.pickle
.*
!/.gitignore
!/.travis.yml
html5_push_registrations.conf
ip_bans.yaml
/icloud/*
*.save
*.pickle
